body{
    font-family: "Inter", serif;
}
.container{
   
    height: 84px;
    display: flex;
    gap: 50px;
    background: #F5F7FA;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
    
}
.logo{
    display: flex;
    top: 30px;
    left: 105px;
    gap: 5%;
    
}
.icon{
     width: 35px;
     height: 24px;
     
}
.nexcent{
    width: 111.49px;
    height: 20.66px;
    color: #263238;
  
}
.navList {
    list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 16px;
  line-height: 24px;
  
}
.login_btn{
    width: 77px;
    height: 40px;
    padding-top: 10;
    padding-right: 20;
    padding-bottom: 10;
    padding-left: 20;
    color: #F5F7FA;
    border-radius: 6px;
    border: none;
    color: #4CAF4F;
    background-color: #F5F7FA;
}
.signup_btn{
    width: 91px;
    height: 40px;
    padding-top: 10;
    padding-right: 20;
    padding-bottom: 10;
    padding-left: 20;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    background-color: #4CAF4F;
    
}
